<p id="notice"><%= notice %></p>

<% if (@is_admin && (!@seller.has_valid_wepay_access_token? || !@seller.has_wepay_account?)) %>
  <p>
    <b>Please create an account to manage your money: </b>
  <% redirect_uri = url_for(:controller => 'sellers', :action => 'oauth', :seller_id => @seller.id, :host => request.host_with_port) %>
    <a class="btn btn-primary" href="<%= @seller.wepay_authorization_url(redirect_uri) %>">Click here to create your account</a>
  </p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @seller.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @seller.email %>
</p>

<p>
  <strong>Firm:</strong>
  <%= @seller.firm %>
</p>

<p>
  <strong>Produce:</strong>
  <%= @seller.produce %>
</p>

<p>
  <strong>Produce price:</strong>
  <%= @seller.produce_price %>
</p>

<% if (@is_admin) %>
<%= link_to 'Edit', edit_seller_path(@seller) %>
<% end %> |
<%= link_to 'Back', sellers_path %>
